<!-- The Modal -->
<div id="myModal" class="modal">
  <div class="modal-content">

    <!-- Modal content -->
    <span class="close">x</span>
    <div class="ui inverted segment seven wide column" id="edit-idea-form">
      <div class="ui inverted form">
        <div class="two fields">

          <div class="ui form">
            <div class="field">
              <label>Idea</label>
              <input placeholder="Edit Title Here" type="text" id="edit-idea-title">
            </div>

            <div class="field">
              <label>Body</label>
              <textarea placeholder="Edit Details Here" rows="2" id="edit-idea-body"></textarea>
            </div>
          </div><!--form-->

        </div>
        <div class="ui submit button" id="edit-idea">Edit Idea</div>
      </div>
    </div><!--edit idea form-->

  </div><!--modal content-->
</div><!--modal-->
