<div class="organizer">
  <div class="filter">
    <input type="text" name="search-ideas" id="search-ideas" placeholder="search ideas">
  </div>

  <div class="ui submit button" id="sort-ideas">
    Sort By Quality
  </div>
</div>
