<div class="ui container">

  <h1 class = "blue center aligned">IdeaBox</h1>

  <div class="ui grid">
    <div class="ui inverted segment seven wide column" id="idea-form">
      <div class="ui inverted form">
        <div class="two fields">

          <div class="ui form">
            <div class="field">
              <label>Idea</label>
              <input placeholder="Idea" type="text" id="idea-title">
            </div>

            <div class="field">
              <label>Body</label>
              <textarea placeholder="Details go here!" rows="2" id="idea-body"></textarea>
            </div>

            <div class="field">
              <label>Quality</label>
              <select class="ui simple dropdown item" id="idea-quality">
                <option value="genius">Genius</option>
                <option value="plausible">Plausible</option>
                <option selected="selected" value="swill">Swill</option>
              </select>
            </div>
          </div><!--form-->

        </div>
        <div class="ui submit button" id="save-idea">Save Idea</div>
      </div>
    </div>

    <div class="ui relaxed 2 wide column">
    </div>

    <div class="ui relaxed divided list seven wide column" id="ideas-list">
      <% if @ideas %>
      <% @ideas.each do |idea| %>
      <div class="item">
        <i class="large idea middle aligned icon"></i>
        <div class="content" data-id = "<%= idea.id %>" >
          <h4 class="title"> <%= idea.title %> </h4>
          <div class="body"> <%= idea.body %> </div>
          <div class="quality"> <%= idea.quality %> </div>
          <div name='button-delete' class='delete-idea ui button' tabindex="0">Delete</div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>

  </div><!--grid--->
</div> <!--container-->
<script>
$(document).ready(function(){
  $('select.dropdown')
  .dropdown();
});
</script>
