<div class="ui container">

  <h1 class = "blue center aligned">Idea Bucket</h1>
  <div class="ui stackable center aligned grid filter-search">
    <%= render partial: 'filters' %>
  </div>

  <div class="ui stackable center aligned grid idea-container">

    <div class="ui inverted segment seven wide column" id="idea-form">
      <%= render partial: 'create_item_form' %>
    </div>


    <div class="ui relaxed divided list seven wide column" id="ideas-list">
    </div>

    <%= render partial: 'edit_modal' %>

  </div><!--grid-->
</div> <!--container-->
