<div class="ui container">

  <h1 class = "blue center aligned">Idea Bucket</h1>

  <div class="ui grid idea-container">

    <div class="ui two wide column"></div>

    <div class="ui inverted segment seven wide column" id="idea-form">
      <div class="ui inverted form">
        <div class="two fields">

          <div class="ui form">
            <div class="field">
              <label>Idea</label>
              <input placeholder="Idea" type="text" id="idea-title">
            </div>

            <div class="field">
              <label>Body</label>
              <textarea placeholder="Details go here!" rows="2" id="idea-body"></textarea>
            </div>
          </div><!--form-->

        </div>
        <div class="ui submit button" id="save-idea">Save Idea</div>
      </div>
    </div>

    <div class="ui relaxed 2 wide column"></div>

      <div class="ui relaxed divided list seven wide column" id="ideas-list">
      </div>

    </div>

  </div><!--grid--->
</div> <!--container-->
<script>
$(document).ready(function(){
  $('select.dropdown')
  .dropdown();
});
</script>
