body {
  background-image: image-url("black-white-stripes-pattern.jpg")!important;
}

h1 {
    font-size: 4em!important;
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 20px!important;
    text-align: center;
    margin-top: 20px!important;
}

h4 {
    font-size: 1.5rem!important;
    border-bottom: 1px solid #000;
    padding-bottom: 7px!important;
}

#idea-form {
    margin-top: 25px;
    height: 380px;
    width: 300px!important;
}

.content {
  padding: 20px;
  text-align: center;
}

.ui.form {
    margin: 0 auto;
    text-align: center;
}

.item {
  background-color: rgba(255,255,255,0.9);
  margin-bottom: 20px;
}

.idea-element {
  margin-bottom: 15px;
}

.delete-idea {
  margin-top: 10px;
  border: 1px solid red;
}

.thumbs {
  cursor: pointer;
}
